node_modules
public
client/app/config/custom.constants.js
tools/keys/*
Messages_*_*.json
.tmp
client/app/app.less
client/index.html
karma.conf.js
test-reports/
test-reports.tar.gz
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
phantomjsdriver.log
*.orig
dist.tar.gz
*.log